{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block titulo %}
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/select2-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">

<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>

<style type="text/css">
   label{
      font-weight: normal !important;
   }
</style>

<div class="loader"></div>

<!-- RESPUESTA DEL CLIENTE -->
<div class="box box-success">
   <div class="box-header with-border">
      <h3 class="box-title">Gestionar Cliente </h3>
      <a href="{% url 'gestionesbo' cliente.cliente %}" class="pull-right"> << Atras </a>
   </div>
   <div class="box-body">
      <form method="post" accept-charset="utf-8" id="formulario-direccion">
         {% csrf_token %}
         <input type="hidden" name="metodo" value="correo" required="">
         <input type="hidden" name="hora-inicio" id="hora-inicio" value="">
         <div class="row">
            <div class="col-sm-8">
               Codigo Cliente: <b>{{cliente.cliente_interno}}</b><br>
               Nombre Cliente: <b>{{cliente.nombre}}</b> <br>
               
            </div>
         </div>
         <p class="page-header"></p>
         <p class="text-center sub-style">
            MANDAR CORREO ELECTRONICO
         </p>
         <p class="page-header"></p>

         <div class="row">
            <div class="col-sm-12">
               <br> <b> Correo Electronico: </b> <br>
               <input type="text" name="correo" value="{{cliente.correo_electronico}}" class="form-control" required>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-12">
               <br> <b> Titulo del Mensaje: </b> <br>
               <input type="text" name="titulo" value="" class="form-control" required>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-12">
               <br> <b> Mensaje: </b> <br>
               <textarea name="mensaje" rows="5" class="form-control" width="100%" required></textarea>
            </div>
         </div>


         <br>
         <button id="guardar" type="submit" class="btn btn-success" id='btn-actualizar'>Enviar Correo</button>
      </form>
      <br>
      <br>
   </div>
</div>
<!--........................................................................................ -->

{% include 'detalle_cliente.html' %}


<script>
   

   $('#actualizar').click(function(event) {
      $('.loader').show()
      setTimeout(function() {
         $('.loader').hide()
      }, 3000);
   });

   $('#tipo_direccion, #departamento, #municipio, #colonia').select2({
      theme : 'bootstrap',
      width : '100%'
   });

   $('#fecha, #id_fecha').datepicker({
      format: 'yyyy-mm-dd',
      language: 'es',
      autoclose: true,
   });

   $('input[name=opcion]').change(function(event) {
      $('.opcion').prop('disabled', true);
      $('.'+$(this).attr('id')).prop('disabled', false );
   });

   $('#btn-agregar-telefono').click(function(){
    $('#modal-direccion').modal('show')
   })

      function direccion(tabla, valor, select){
         $('#' + select).empty();
         $('#' + select).append("<option value=''>---------------</option>");
        
         valor= $('#'+valor).val()
         $.ajax({
            type: "GET",
           data:
               { tabla: tabla, valor: valor },
            url: "/cliente/ajax/",
            success: function(msg){
               $.each(msg, function(key, val){
                  $('#' + select).append("<option value="+val.id+">" + '' + val.codigo + ' | ' + val.nombre + "</option>");
               });
                  $('#' + select).trigger("chosen:updated");
            }
         });
      }
       
      $('#id_departamento').change(function(){
         direccion('municipio', 'id_departamento', 'id_municipio' )
      })
   
</script>

{% endblock %}
