{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block titulo %}
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>


<div class="loader"></div>
   <!-- LISTADO DE CLIENTES -->
   <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
         <li class="active"><a href="#tab_1" data-toggle="tab">Clientes</a></li>
         <li><a href="#tab_2" data-toggle="tab">Clientes Castigados</a></li>
         <li><a href="#tab_3" data-toggle="tab">Clientes Pendientes</a></li>
         <li><a href="#tab_4" data-toggle="tab">Promesa {% if promesa > 0 %} <span class="label label-warning">{{promesa}}</span> {% endif %} </a></li>
         
         <h5 style="margin-right: 20px; margin-top: 15px" class="pull-right">Total Clientes: <strong>{{numeroClientes}}</strong></h5>
      </ul>
         
      <div class="tab-content">
         
         <!-- CLIENTES NORMALES -->
         <div class="tab-pane active no-padding" id="tab_1">
            <div>
               <table class="table table-hover" id="tabla_cliente">
                  <thead>
                     <tr>
                        <th class="text-center">Codigo</th>
                        <th class="text-center">No. Credito</th>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Nombre de Cliente</th>
                        <th class="text-center">Dias Atraso</th>
                        <th class="text-center">Cuotas Mora</th>
                        <th class="text-center">Capital Mora</th>
                        <th class="text-center">Int. Mora</th>
                        <th class="text-center">Int. Moratorio</th>
                        <th class="text-center">Saldo Total</th>
                        <th class="text-center"></th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for cliente in clientes  %}
                        <tr class="tr-cliente" data-id='{{cliente.cliente_id}}' data-nombre='{{cliente.nombre}}'>
                           <td>{{cliente.cliente_interno}} </td>
                           <td>{{cliente.credito}} </td>
                           <td>{{cliente.producto_credito}} </td>
                           <td>{{cliente.nombre}}</td>
                           <td>{{cliente.dias_atraso}}</td>
                           <td align="right">{{cliente.cuotas_mora}}</td>
                           <td align="right">{{cliente.capital_mora}}</td>
                           <td align="right">{{cliente.intereses_mora}}</td>
                           <td align="right">{{cliente.intereses_moratorios}}</td>
                           <td align="right">{{cliente.saldo_total_creditos}}</td>
                           <td><a href="{% url 'gestionesbo' cliente.cliente %}"  data-id='{{cliente.cliente_id}}' type="button" class="btn btn-success btn-xs llamada">Gestionar</a></td>

                           <!-- <td><a id="gestionarBTN" href="{% url 'gestion' cliente.cliente %}" data-id='{{cliente.cliente_id}}' type="button" class="btn btn-success btn-xs llamada">Gestionar</a></td> -->
                        </tr>
                     {% endfor %}
                  </tbody>
                  
               </table>
            </div>
         </div>

         <!-- CLIENTES CASTIGADOS -->
         <div class="tab-pane no-padding" id="tab_2">
            <div>
               <table class="table table-hover" id="tabla_cliente">
                  <thead>
                     <tr>
                        <th class="text-center">Codigo</th>
                        <th class="text-center">No. Credito</th>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Nombre de Cliente</th>
                        <th class="text-center">Dias Atraso</th>
                        <th class="text-center">Cuotas Mora</th>
                        <th class="text-center">Capital Mora</th>
                        <th class="text-center">Int. Mora</th>
                        <th class="text-center">Int. Moratorio</th>
                        <th class="text-center">Saldo Total</th>
                        <th class="text-center"></th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for cliente in clientes_castigados  %}
                        <tr class="tr-cliente" data-id='{{cliente.cliente_id}}' data-nombre='{{cliente.nombre}}'>
                           <td>{{cliente.cliente_interno}} </td>
                           <td>{{cliente.credito}} </td>
                           <td>{{cliente.producto_credito}} </td>
                           <td>{{cliente.nombre}}</td>
                           <td>{{cliente.dias_atraso}}</td>
                           <td align="right">{{cliente.cuotas_mora}}</td>
                           <td align="right">{{cliente.capital_mora}}</td>
                           <td align="right">{{cliente.intereses_mora}}</td>
                           <td align="right">{{cliente.intereses_moratorios}}</td>
                           <td align="right">{{cliente.saldo_total_creditos}}</td>
                           <td><a href="{% url 'gestionesbo' cliente.cliente %}"  data-id='{{cliente.cliente_id}}' type="button" class="btn btn-success btn-xs llamada">Gestionar</a></td>

                           <!-- <td><a id="gestionarBTN" href="{% url 'gestion' cliente.cliente %}" data-id='{{cliente.cliente_id}}' type="button" class="btn btn-success btn-xs llamada">Gestionar</a></td> -->
                        </tr>
                     {% endfor %}
                  </tbody>
                  
               </table>
            </div>
         </div>

         <!-- CLIENTES PENDIENTES -->
         <div class="tab-pane table-responsive no-padding" id="tab_3">
            <table class="table table-hover" id="tabla_cliente_pendiente">
               <tr>
                  <th class="text-center">Nombre de Cliente</th>
                  <th colspan="2" class="text-center">Telefono</th>
                  <th colspan="1">Fecha/Hora Devolución de Llamada</th>
                  <th colspan="1">Nombre Contacto</th>
                  <th colspan="1">Numero Contacto</th>
               </tr>
               {% for cliente in clientes_pendientes  %}
               <tr class="tr-cliente" data-id='{{cliente.cliente_pendiente.pk}}'>
                  <td>{{cliente.cliente.nombre}}</td>
                  <td align="right"> {{cliente.telefono.telefono}} </td>
                  <td><a href="{% url 'gestion_llamar' cliente.cliente.cliente cliente.telefono.telefono %}" type="button" data-id='{{cliente.cliente_id}}' class="btn btn-success btn-xs llamada">Gestionar</a></td>
                  <td>{{cliente.devolver_llamada}}</td>
                  {% if cliente.nombre_contacto != None %} <td>{{cliente.nombre_contacto}}</td> {% else %} <td></td> {% endif %}
                  {% if cliente.telefono_contacto != None %} <td>{{cliente.telefono_contacto}}</td> {% else %} <td></td> {% endif %}
               </tr>
               {% endfor %}
            </table>
         </div>

         <!-- CLIENTES PROMESA -->
         <div class="tab-pane no-padding" id="tab_4">
            <table class="table table-hover" id="tabla_cliente_promesa">
               <thead>
                  <tr>
                     <th class="text-center"></th>
                     <th class="text-center">Codigo</th>
                     <th class="text-center">Nombre de Cliente</th>
                     <th class="text-center">Dias Atraso</th>
                     <th class="text-center">Cuotas Mora</th>
                     <th class="text-center">Capital Mora</th>
                     <th class="text-center">Int. Mora</th>
                     <th class="text-center">Int. Moratorio</th>
                     <th class="text-center">Saldo Mora</th>
                     <th class="text-center">Fecha Promesa</th>
                     <th class="text-center"></th>
                  </tr>
               </thead>
               <tbody>
                  {% for cliente in clientes_promesa  %}
                     <tr class="tr-cliente" data-id='{{cliente.cliente.cliente_id}}' data-nombre='{{cliente.cliente.nombre}}'>
                        <td align="center">{% if cliente.fecha|date:'Y-m-d' == hoy|date:'Y-m-d' %} <span class="label label-warning">Dia de Promesa</span>  {% endif %}  </td>
                        <td>{{cliente.cliente.cliente_interno}} </td>
                        <td>{{cliente.cliente.nombre}}</td>
                        <td align="center">{{cliente.cliente.dias_atraso}}</td>
                        <td align="center">{{cliente.cliente.cuotas_mora}}</td>
                        <td align="right">{{cliente.cliente.capital_mora}}</td>
                        <td align="right">{{cliente.cliente.intereses_mora}}</td>
                        <td align="right">{{cliente.cliente.intereses_moratorios}}</td>
                        <td align="center">{{cliente.cliente.saldo_total_creditos}}</td>
                        <td align="center">{{cliente.fecha|date:'Y-m-d'}} </td>
                     
                        <td><a href="{% url 'gestionesbo' cliente.cliente.cliente %}"  data-id='{{cliente.cliente.cliente_id}}' type="button" class="btn btn-success btn-xs llamada">Gestionar</a></td>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         
      </div>
   </div>

   {% include 'detalle_cliente.html' %}

<script>

   //Al darle click a actualizar se muestra el loader
   $('#actualizar').click(function(event) {
      $('.loader').show()
      setTimeout(function() {
         $('.loader').hide()
      }, 3000);
   });


$('.llamada').click(function(){
      var href = $(this).attr('href');
      localStorage.setItem("id", $(this).data('id'));
      $('.loader').show()
      $.ajax({
         url: "{% url 'morosidad_primera_cuota' %}",
         data: {
            id: $(this).data('id'),
         }
      })
      .done(function( data ) {
         window.location = href
      });

      // Delay setting the location for one second
      //setTimeout(function() {window.location = href}, 500);
      return false;
   })
   //Funcion para hacer un formato de miles con comas [1,200.00]
   function numberWithCommas(x) {
       return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
   }

   jQuery.fn.dataTableExt.aTypes.unshift(
    function ( sData )
    {
        var deformatted = sData.replace(/[^\d\-\.\/a-zA-Z]/g,'');
        if ( $.isNumeric( deformatted ) || deformatted === "-" ) {
            return 'formatted-num';
        }
        return null;
    }
   );

   //PASAR  A ESPAÑOL EL DATATABLES
   $("#tabla_cliente").DataTable({
      "columnDefs": [
         { type : 'formatted-num', "targets": [4,5,6,7], render: $.fn.dataTable.render.number(",", ".", 2, '')},
         { className: "text-right", "targets": [4,5,6,7] },

      ],
      "language": {
            "lengthMenu": "_MENU_ registros",
            "zeroRecords": "No se encontro ningun registro",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "(filtrado de _MAX_ registros)",
            "search":         "Buscar:",
            "paginate": {
                 "first":      "Primero",
                 "last":       "Ultimo",
                 "next":       "Siguiente",
                 "previous":   "Anterior"
             },
        }
   });


   $("#tabla_cliente_promesa").DataTable({
      "columnDefs": [
         { type : 'formatted-num', "targets": [5,6,7,8], render: $.fn.dataTable.render.number(",", ".", 2, '')},
         { className: "text-right", "targets": [5,6,7,0] },

      ],
      "language": {
            "lengthMenu": "_MENU_ registros",
            "zeroRecords": "No se encontro ningun registro",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "(filtrado de _MAX_ registros)",
            "search":         "Buscar:",
            "paginate": {
                 "first":      "Primero",
                 "last":       "Ultimo",
                 "next":       "Siguiente",
                 "previous":   "Anterior"
             },
        },
      "order": [[ 9, "asc" ]]
   });


   //funcion de búsqueda (mal hecha)
   

</script>

{% endblock %}
